/build/
salidas/

worlds/robot/polaris/model-1_3.sdf
worlds/robot/polaris/model-1_4.sdf
worlds/robot/polaris/model.config
worlds/robot/polaris/model.sdf
worlds/robot/polaris/materials/scripts/polaris.material
worlds/robot/polaris/materials/textures/FNR_switch_F.png
worlds/robot/polaris/materials/textures/FNR_switch_R.png
worlds/robot/polaris/materials/textures/Ranger_Diffuse.png
worlds/robot/polaris/materials/textures/Ranger_Spec.png
worlds/robot/polaris/meshes/polaris.dae
worlds/robot/polaris/thumbnails/1.png
worlds/robot/polaris/thumbnails/2.png
worlds/robot/polaris/thumbnails/3.png
worlds/robot/polaris/thumbnails/4.png
worlds/robot/polaris/thumbnails/5.png
